<form name="" action="" method="">
<fieldset>
  <div><legend>nuevo post</legend></div>
  <div><label for="titulo">titulo</label></div>
  <div><input type="text" id="titulo" name="titulo" value=""></div>
  <div><label for="texto"> texto</label></div>
    <div><textarea id="texto" name="texto" cols="40" rows="10">
    </textarea></div>
    <input type="submit" name="send" value="new post" />"
</fieldset>
rm>
